.no-webp .contacto {
  background-image: url('../images/encuentra.jpg');
}

.webp .contacto {
  background-image: url('../images/encuentra.webp');
}

.contacto {
  background-position: center center;
  background-size: cover;
  padding: var(--space-xxxl) 0;
}

.contacto__content {
  color: var(--white-93);
  display: flex;
  flex-direction: column;
  align-items: center;
}