/*! _festival.scss */

.sobre-festival {
  margin: $separacion auto;

  @include mq-tablet {
    @include grid-col(2, $separacion);
  }

  .sobre-festival__contenido {
    @include flex(center, flex-start);
    flex-direction: column;

    .texto {
      line-height: 1.5;
    }
  }
}
