.site__footer {
  background-color: var(--black-12);
  color: var(--white-93);
  padding: var(--space-md) 0;
  position: absolute;
  top: 100%;
  width: 100%;

  p {
    font-size: var(--text-sm);
    font-weight: 300;
    text-align: center;
  }
}